body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}


/******************
    navigation
******************/
#navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid gray;
}

#nav-box,
#login-box {
    display: flex;
    flex-direction: row
}
.nav-item {
    margin: 5px;
}

/******************
    profile
******************/

#profil-box .form-block-box .field-box input,
#profil-box .form-block-box .field-box input:focus {
    border: 1px solid darkgray;
    cursor: default;
}

.form-box {
    display: flex;
    flex-direction: column;
    max-width: 380px;
}
.form-block-box {
    margin-bottom: 20px;
}
.field-box {
    display: flex;
    flex-direction: column;
}
.field-box label {
    margin-top: 10px;
    margin-bottom: 3px;
}
.field-box input {
    padding: 5px;
    height: 1rem;
}

/* Form button */
.form-btn {
    width: 100%;
    margin-top: 25px;
}
.form-btn input {
    width: 100%;
    height: 2rem;
    line-height: 1rem;
    font-size: 1rem;
}

/* notif */
.notif {
    
}
.notif-success {
    color: green;
}
.notif-error {
    color: red;
}