<div class="errorPage">
    <img src="/images/misc/snow.gif">
    <div class="errorMessage">
        <span>404</span>
        <p>
        The requested file<br>
        was not found. Oh no...<br><br>
        <a href="/">Return at /home</a>
        </p>
    </div>
</div>