<div id="login-page">

    <div class="form-box">
        <form id="login-form" action="/login" method="post">
            <h1>Login</h1>

            <% if (data.message) { %>
            <div id="notif-login" class="notif"><%- data.message %></div>
            <% } %>

            <div class="field-box">
                <label>User name</label>
                <input type="text" class="" name="username">
            </div>

            <div class="field-box">
                <label>Password</label>
                <input type="password" class="" name="password" />
            </div>

            <div class="form-btn">
                <input type="submit" class="" value="Login" />
            </div>
        </form>
    </div>
    
</div>