<div id="modal-box">
    <div id="modal-title">
    </div>

    <div id="modal-content">
    </div>

    <div id="modal-footer">
        <input id="modal-accept"  type="button" name="" value="OK">
        <input id="modal-decline" type="button" name="" value="Cancel">
    </div>
</div>
