<div id="navigation">

    <div id="nav-box">
        <div class="nav-item"><a href="/">Home</a></div>
        <div class="nav-item"><a href="">page2</a></div>
    </div>

    <div id="login-box">
        <% if (typeof data.user !== 'undefined' && typeof data.user !== '' ) { %>
        <div id="dropdown-profile" class="nav-item">
            <div id="dropdown-profile-btn" class="dropdown-btn">
                <%- data.user.username %>
                <div class="triangle"></div>
            </div>
            <div id="dropdown-profile-content"  class="dropdown-content">
                <div id="profile-btn"><a href="/profile">Profile</a></div>
                <div id="logout-btn"><a href="/logout">Logout</a></div>
            </div>
        </div>

        <% } else { %>
        <div class="nav-item"><a href="/login">login</a></div>
        <div class="nav-item"><a href="/signup">signup</a></div>
        <% } %>
    </div>

</div>